@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*=======Variaveis======*/
:root {
    --bg-color: #ffde59;
    --primary-color: #ff914d;
    --secundary-color: #e46d24;
}


* {
    font-family: "League Spartan";
}

body {
    overflow-x: hidden;
    background-image: url(img/BackgroundPadraoTransparent.png);
    background-color: var(--bg-color);
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    
    animation: fundoSubindo 10000s linear infinite;
}

@keyframes fundoSubindo {
    from {
        background-position: 0 -100000px;
    }
    to {
        background-position: 0 0%;
    }
}

@keyframes aparecer {
    0% {
       opacity: 100%;
    }
    100% {
       opacity: 0%;
    } 
}

.nav { 
    width: 100%;
    z-index: 1000;
}

.inicio {
 
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.inicio .container {
    
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 70vh;
}

.inicio .container .Texto {
    height: 100%;
   
}

.inicio .container .Texto h3 {
    font-size: 56.1px;
    width: 500px;
    margin: 10px 20px;
    margin-top: 50px;

    font-style: normal;
    letter-spacing: -1px;
    font-weight: 900;
    color: #fffdd9;

 
    filter:
    drop-shadow(1px 1px 0 var(--primary-color))
    drop-shadow(-1px 1px 0 var(--primary-color))
    drop-shadow(1px -1px 0 var(--primary-color))
    drop-shadow(-1px -1px 0 var(--primary-color))
    drop-shadow(3px 0px 0 var(--primary-color))
    drop-shadow(-3px 0px 0 var(--primary-color))
    drop-shadow(0px 3px 0 var(--primary-color))
    drop-shadow(0px -3px 0 var(--primary-color));


}

.inicio .container .Texto p {
    margin: 0 20px;
    width: 400px;
    color: var(--secundary-color);
    font-weight: 700;
}

.inicio .container .Texto button {
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--secundary-color);
    border: none;
    font-size: 21px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    transition: 1s;
}

.inicio .container .imagem {
    z-index: 1;
    position: relative;
    left: 200px;
    top: 37px;
}

.inicio .container .imagem img{
    height: 800px;

}